
<form name="queryForm" method="post" ng-submit="query()" class="form-horizontal"  >
<div class="portlet light bordered query-container">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-list"></i> 
			<span class="caption-subject font-dark sbold uppercase bold" app-locale="setting.compAccountInfo.list">公司账号信息查询列表</span>
			<span class="caption-helper"></span>
		</div>
		<div class="actions">
			<button type="button" class="btn btn-circle btn-icon-only btn-default"
				title="{{ (!hideQueryParams ? 'app.query.hide' : 'app.query.show')  | appLocale }}" 
				ng-click="hideQueryParams = !hideQueryParams">
				<i class="fa" 
					ng-class="{ 'fa-angle-down' : !hideQueryParams, 'fa-angle-up': hideQueryParams }"></i>
			</button>
			<!-- <button type="submit" class="btn btn-circle btn-icon-only btn-default"
				title="{{ 'app.query' | appLocale }}"  
				ng-disabled="queryForm.$invalid"
				app-permission="query" ng-click="query()" >
				<i class="fa fa-search"></i>
			</button> -->
			<button type="button" title="{{ 'app.add' | appLocale }}" class="btn btn-circle btn-icon-only btn-primary"
				app-permission="edit" ng-click="add()">
				<i class="fa fa-plus"></i>
			</button>
			<button type="button" title="{{ 'app.delete' | appLocale }}" class="btn btn-circle btn-icon-only btn-default"
				app-permission="edit" ng-disabled="!checkedUsers || !checkedUsers.length <= 0" ng-click="remove(checkedUsers)">
				<i class="fa fa-trash-o"></i>
			</button>
		</div>
	</div>
	
	<div class="portlet-body form">
		<div  ng-include="'setting/nomal/queryHeader.html'" ></div>
		
		<!-- 参数列表表格 -->
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-condensed" role="grid" 
				st-table="dictionarys" st-safe-src="current.page.content">
				<thead>
					<tr>
						<!-- <th width="30" ui-table-select-all="dictionarys"></th> -->
						<th st-sort="compAccountInfo.accountId" app-locale="setting.compAccountInfo.accountId">银行账号</th>
						<th st-sort="compAccountInfo.agency" app-locale="setting.compAccountInfo.agency">所属机构</th>
						<th st-sort="compAccountInfo.bankName" app-locale="setting.compAccountInfo.bankName">开户行名称</th>
						<th st-sort="compAccountInfo.currency" app-locale="setting.compAccountInfo.currency">币种</th>
						<th st-sort="compAccountInfo.subject" app-locale="setting.compAccountInfo.subject">科目</th>
						<th width="30" class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dictionary in dictionarys">
						<!-- <td ui-table-select="dictionary" selected-rows="current.selected"></td> -->
						<td><a href="javascript:;" ng-bind="::dictionary.id" ng-click="view(dictionary)"></a></td>
						<td app-show="::dictionary.company.id" url="/dept.do">所属机构</td>
						<td ng-bind="::dictionary.bank">开户行名称</td>
						<td ng-bind="::dictionary.currency.id">币种</td>
						<td app-show="::dictionary.accountingSubject.id"   url="/accountingSubject.do">会计科目</td>
						<td class="text-center"><a href="javascript:;" title="{{ ::('app.edit' | appLocale) }}" ng-click="edit(dictionary)"><i class="fa fa-edit"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- 显示分页 -->
		<div app-page></div>
	</div>
</div>
</form>