<div class="form-group">
	<label class="col-sm-2 control-label" app-locale="setting.compAccountInfo.accountId">银行账号</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.id"></p>
	</div>
	<label class="col-sm-2 control-label" app-locale="setting.compAccountInfo.agency">所属机构</label>
	<div class="col-sm-4">
		<div app-show="current.entity.company.id" url="/dept.do">所属机构</div>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" appLocale="setting.compAccountInfo.bankName">开户行名称</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.bank"></p>
	</div>
	
	<label class="col-sm-2 control-label" appLocale="setting.compAccountInfo.currency">币种</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.currency.id"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" appLocale="setting.compAccountInfo.subject">会计科目</label>
	<div class="col-sm-4">
		<div class="col-sm-4" app-show="current.entity.accountingSubject.id"   url="/accountingSubject.do">会计科目</div>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-6 col-sm-offset-2">
		<button type="button" class="btn btn-primary" app-locale="app.edit"
			ng-click="edit()">编辑</button>
		<button type="button" class="btn btn-primary" app-locale="app.cancel"
			ng-click="cancel()">取消</button>
	</div>
</div>