<br>
<div class="form-group">
<div role="tabpanel">
		<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#task-details" aria-controls="profile" role="tab" data-toggle="tab">审批情况</a></li>
		<li role="presentation"><a href="#task-money" aria-controls="profile" role="tab" data-toggle="tab">金额汇总情况</a></li>
		<li role="presentation"><a href="#task-no" aria-controls="profile" role="tab" data-toggle="tab">关联单号</a></li>
		<li role="presentation"><a href="#task-files" aria-controls="profile" role="tab" data-toggle="tab">影像资料</a></li>
	</ul>
	
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="task-details">
			<h3>审批情况</h3>
		</div>
		<div role="tabpanel" class="tab-pane" id="task-money">
			<h3>金额汇总情况</h3>
		</div>
		<div role="tabpanel" class="tab-pane" id="task-no">
			<h3>关联单号</h3> 
		</div>
		<div role="tabpanel" class="tab-pane" id="task-files">
			<h3>影像资料</h3> 	 
		</div>
		 
	</div>
 
	<div class="row">
	<div class="col-lg-12 text-center">
		<a alt="这是提示"  title="保存" href="javascript:void(0);" class="addTr btn btn-warning">保存</a>
		<a alt="这是提示"  title="关闭" href="javascript:void(0);" class="addTr btn btn-warning">关闭</a>
		<a alt="这是提示"  title="提交" href="javascript:void(0);" class="addTr btn btn-warning">提交</a>
		<a alt="这是提示"  title="打印" href="javascript:void(0);" class="addTr btn btn-warning">打印</a>
	</div>
	</div>
</div>
</div>

