<h3 class="page-title">事前审批</h3>
<div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-1">申请号</label>
                            <div class="col-md-3">
                                <input class="form-control" id="mask_number" type="text"  />
                            </div>
                            <label class="control-label col-md-1">申请部门</label>
                            <div class="col-md-1">
                                <input class="form-control" type="text" />
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" type="text" />
                            </div>
                            <label class="control-label col-md-1">申请人</label>
                            <div class="col-md-1">
                                <input class="form-control"  type="text" />
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        
                         <div class="form-group">
                         	 <label class="control-label col-md-1">收款人类型</label>
                             <div class="col-md-3">
                                <select class="form-control" ng-model="mstep" ng-options="a.state for a in session.approvals">
                                </select>
                             </div>
                              <label class="control-label col-md-1">申请金额</label>
                              <div class="col-md-3">
                              <div class="input-group  date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                  <input type="text" class="form-control" name="from">
                                    <span class="input-group-addon"> 至 </span>
                                  <input type="text" class="form-control" name="to"> </div>
                               </div>
                              <label class="control-label col-md-1">申请日期</label>
                              <div class="col-md-3">
                               <div class="input-group  date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                               <input type="text" class="form-control" name="from">
                                   <span class="input-group-addon"> 至 </span>
                               <input type="text" class="form-control" name="to"> </div>
                                </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="control-label col-md-1">业务所属机构</label>
                            <div class="col-md-1">
                                <input class="form-control"  type="text" />
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" type="text" />
                            </div>
                            <label class="control-label col-md-1">员工/供应商</label>
                            <div class="col-md-1">
                                <input class="form-control" type="text" />
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" type="text" />
                            </div>
                            <label class="control-label col-md-1">收款人全称</label>
                            <div class="col-md-1">
                                <input class="form-control"  type="text" />
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" type="text" />
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="control-label col-md-1">排序条件</label>
                             <div class="col-md-3">
                                	<select class="form-control" ng-model="mstep" ng-options="ab.state for ab in session.approvals">
                               	 	</select>
                             </div>
                             <label class="control-label col-md-1">排序条件</label>
                             <div class="col-md-3">
                                	<select class="form-control"  ng-model="mstep" ng-options="ab.state for ab in session.approvals">
                               	 	</select>
                              	</div>
                             </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-5 col-sm-offset-5  col-xs-offset-5">
                                <button type="submit" class="btn blue">
                                    <i class="fa fa-check"></i> 查询</button>
                                <button type="reset" class="btn default">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
         <div class="col-sm-12 col-md-12 div-grid">
		  <div class="row">
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /> </th>                    
                             <th>序号</th>
 							 <th>申请号</th>
  							 <th>费用单据类型</th>
  							 <th>申请部门代码</th>
  							 <th>申请部门名称</th>
  							 <th>申请人</th>
  							 <th>申请日期</th>
  							 <th>申请币别</th>
  							 <th>申请金额</th>
  							 <th>是否需要预支</th>
  							 <th>预支金额  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="approval in session.approvals">
								<td> <input type="checkbox" class="checkboxes" value="1" /> </td>
								<td ng-bind="approval.serial"></td> 
								<td ng-bind="approval.number"></td> 
								<td ng-bind="approval.type"></td> 
								<td ng-bind="approval.deptNo"></td> 
								<td ng-bind="approval.dept"></td> 
								<td ng-bind="approval.name"></td> 
								<td ng-bind="approval.approver"></td>
								<td ng-bind="approval.date"></td> 
								<td ng-bind="approval.curreny"></td> 
								<td ng-bind="approval.money"></td> 
								<td ng-bind=""></td> 
                        </tr>
                    </tbody>
                    <tfoot>
                    	 <th></th>
 							 <th></th>
  							 <th></th>
  							 <th></th>
  							 <th></th>
  							 <th></th>
  							 <th></th>
  							 <th></th>
  							 <th>小计</th>
  							 <th></th>
  							 <th> </th>
                    </tfoot>
                </table>
               </div>
            </div>