<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.wanwan.ai.dao.EntityMapper">
  
	<select id="finds"
		parameterType="string"
		resultType="com.wanwan.ai.core.ChessEntity">
		select * from chessEntity
		where id=#{id} 
	</select>
</mapper>