<div class="form-group">
	<label class="col-sm-2 control-label" app-locale="system.user.code">用户名</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.code"></p>
	</div>
	<label class="col-sm-2 control-label" app-locale="system.user.name">名称</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.name"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" app-locale="system.user.dept">公司</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.company.name"></p>
	</div>
	<label class="col-sm-2 control-label" app-locale="system.user.dept">部门</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.dept.name"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" app-locale="app.status">状态</label>
	<div class="col-sm-4">
		<p class="form-control-static" app-dict="current.entity.status" dict-type="status"></p>
	</div>
	<label class="col-sm-2 control-label" app-locale="system.user.logon.mode">登录方式</label>
	<div class="col-sm-4">
		<p class="form-control-static" app-dict="current.entity.logonMode" dict-type="logon_mode"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" app-locale="system.user.email">Email</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.email"></p>
	</div>
	<label class="col-sm-2 control-label" app-locale="system.user.sync.status">是否同步</label>
	<div class="col-sm-4">
		<p class="form-control-static" app-dict="current.entity.syncStatus" dict-type="yes_no"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" app-locale="system.user.payee.account">银行账号</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.payeeAccount"></p>
	</div>
	<label class="col-sm-2 control-label" app-locale="system.user.payee.namek">账户名称</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.payeeName"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" app-locale="system.user.payee.bank">开户行</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.payeeBank"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" app-locale="system.user.mobile">手机号</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.mobile"></p>
	</div>
	<label class="col-sm-2 control-label" app-locale="system.user.telephone">座机</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.telephone"></p>
	</div>
</div>


<div class="form-group">
	<label class="col-sm-2 control-label" app-locale="system.user.role">角色</label>
	<div class="col-sm-10">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-condensed" role="grid" st-table="userRoles" st-safe-src="current.entity.userRoles">
				<thead>
					<tr>
						<th st-sort="code" app-locale="system.user.dept" width="50%">部门</th>
						<th st-sort="name" app-locale="system.user.role">角色</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="userRole in userRoles">
						<td ng-bind="::(userRole.dept.code + '(' + userRole.dept.name + ')')"></td>
						<td ng-bind="::(userRole.role.id + '(' + userRole.role.name + ')')"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-6 col-sm-offset-2">
		<button type="button" class="btn btn-primary" app-locale="app.edit"
			ng-click="edit()">编辑</button>
		<button type="button" class="btn btn-primary" app-locale="app.cancel"
			ng-click="cancel()">取消</button>
	</div>
</div>