<div class="form-group">
	<label class="col-sm-2 control-label" app-locale="setting.dictionary.code">代码</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.code"></p>
	</div>
	<label class="col-sm-2 control-label" app-locale="setting.dictionary.name">名称</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.name"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" appLocale="setting.dictionary.status">状态</label>
	<div class="col-sm-4" app-dict="current.entity.status" dict-type="status"></div>
	<label class="col-sm-2 control-label" appLocale="setting.dictionary.type">类型</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.type"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" appLocale="setting.purchaseType.dept">采购部门</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.propertyC00"></p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label" appLocale="setting.purchaseType.budgetItem">预算科目</label>
	<div class="col-sm-4">
		<p class="form-control-static" ng-bind="current.entity.propertyC01"></p>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-6 col-sm-offset-2">
		<button type="button" class="btn btn-primary" app-locale="app.edit"
			ng-click="edit()">编辑</button>
		<button type="button" class="btn btn-primary" app-locale="app.cancel"
			ng-click="cancel()">取消</button>
	</div>
</div>