<!-- 单个菜单的个人申请单详细页面,可用于每个独立的申请页面,此页面没有进行权限控制,均只能操作自己的数据 -->
<form name="editForm" method="post" ng-submit="save()" class="form-horizontal" novalidate="novalidate">
<div class="portlet light bordered" ng-if="!!current.entity">

<div class="portlet-title" app-print-hide>
	<div class="caption">
		<i class="fa fa-edit"></i>
		<span class="caption-subject sbold uppercase bold">
			<span app-locale="accrual.expense">事前申请报销</span>
			<small ng-bind="current.entity.id"></small>
		</span>
		<span class="caption-helper"></span>
	</div>
	<div class="actions" ng-include=" 'resources/template/application/edit/actions.html' "></div>
</div>
<div class="portlet-body form">
	<div class="form-body app-body">

				
<div class="row"><div class="col-md-12" ng-include=" 'resources/template/application/edit/header.html' "></div></div>
<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label col-md-3" app-locale="application.risk">险种</label>
			<div class="col-md-9" app-dict-select="current.entity.expense.riskCode" dict-type="insurance" required></div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label col-md-3" sapp-locale="accrual.instalment">是否分期</label>
			<div class="col-md-9"><p class="form-control-static" app-dict="current.entity.propertyC00" dict-type="yes_no" show-property="name"></p></div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label col-md-3" sapp-locale="application.expense.vat.status">是否含专票</label>
			<div class="col-md-9" app-dict-radio="current.entity.expense.vatStatus" dict-type="yes_no" show-property="name" required></div>
		</div>
	</div>
</div>
<div class="row"><!-- 支付信息 -->
	<div class="col-md-12" ng-include=" 'resources/template/application/edit/payee.html' "></div>
</div>

<div class="row">
<div class="col-md-12">
	<h4 class="form-section"><span app-locale="application.expense.items">报销明细</span></h4>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-condensed" role="grid">
			<thead>
				<tr>
					<th class="text-center row-number">#</th>
					<th width="30" class="text-center nowrap"></th>
					<th width="180" app-locale="budget.dept">预算中心</th>
					<th width="180" app-locale="application.cost.dept">成本中心</th>
					<th app-locale="budget.subject">预算科目</th>
					<th width="100" app-locale="installment.period" ng-if="app.yes_no.yes == current.entity.propertyC00">归属期</th>
					<th app-locale="application.item.remarks">详细事项描述</th>
					<th width="90" app-locale="application.item.amount.cost" ng-if="app.yes_no.yes == current.entity.expense.vatStatus">不含税价</th>
					<th width="90" app-locale="application.item.amount.tax" ng-if="app.yes_no.yes == current.entity.expense.vatStatus">税金</th>
					<th width="90" app-locale="application.item.amount.total">含税价</th>
				</tr>
			</thead>
			<tbody class="table-form">
				<tr ng-repeat="item in current.entity.items track by item.ordinal">
					<td class="row-number" ng-bind="$index+1"></td>
					<td class="text-center">
						<input type="checkbox" ng-model="item.propertyC10" ng-true-value="{{app.yes_no.yes}}" ng-false-value="{{app.yes_no.no}}" ng-change="sum()"></td>
					<td ng-bind="item.budgetDept.name"></td>
					<td ng-bind="item.costDept.name"></td>
					<td app-show="item.budgetSubject.id" url="/budgetSubject.do" args="{ type: 'budget' }"></td>
					<td ng-if="app.yes_no.yes == current.entity.propertyC00">
						<div class="input-group">
							<input type="month" class="form-control input-sm" ng-model="item.propertyD00" required
								ng-disabled="app.yes_no.yes != item.propertyC10"
								uib-datepicker-popup is-open="openDatepicker" datepicker-append-to-body="true">
							<div class="input-group-btn btn-group-sm">
								<button class="btn btn-default btn-sm" type="button" ng-click="openDatepicker=true">
									<span class="icon icon-calendar"></span><span class="sr-only">Split button!</span>
								</button>
							</div>
						</div>
					</td>
					
					<td><input ng-model="item.remarks" class="form-control input-sm" ng-maxlength="3000" required 
							ng-disabled="app.yes_no.yes != item.propertyC10"></td>
					
					<td ng-if="app.yes_no.yes == current.entity.expense.vatStatus">
						<input model-type="number" class="form-control input-sm" min="0.01" required model-format="amount"
							ng-disabled="app.yes_no.yes != item.propertyC10"
							ng-model="item.amountCost" ng-model-options="{ updateOn: 'blur' }" ng-change="changeAmountCost(item)"></td>
					<td ng-if="app.yes_no.yes == current.entity.expense.vatStatus">
						<input model-type="number" class="form-control input-sm" min="0" model-format="amount"
							ng-disabled="app.yes_no.yes != item.propertyC10"
							ng-model="item.amountTax" ng-model-options="{ updateOn: 'blur' }" ng-change="changeAmountTax(item)"></td>
					<td><input model-type="number" class="form-control input-sm" min="0.01" required model-format="amount"
							ng-disabled="app.yes_no.yes != item.propertyC10"
							ng-max="(item.propertyN60 / current.entity.payee.exchangeRate).toFixed(2).doubleValue()"
							ng-model="item.amount" ng-model-options="{ updateOn: 'blur' }" ng-change="changeAmount(item)"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="info">
					<td colspan="{{ app.yes_no.yes == current.entity.propertyC00 ? 7 : 6 }}" app-locale="app.amount.total" class="text-right nowrap">合计金额</td>
					<td ng-if="app.yes_no.yes == current.entity.expense.vatStatus" class="text-right nowrap" ng-bind="current.entity.payee.amountCost | currency:current.entity.payee.currency.symbol"></td>
					<td ng-if="app.yes_no.yes == current.entity.expense.vatStatus" class="text-right nowrap" ng-bind="current.entity.payee.amountTax | currency:current.entity.payee.currency.symbol"></td>
					<td class="text-right nowrap" ng-bind="current.entity.payee.amount | currency:current.entity.payee.currency.symbol"></td>
				</tr>
				<tr class="success" ng-if="app.currency.id != current.entity.payee.currency.id">
					<td colspan="{{ app.yes_no.yes == current.entity.propertyC00 ? 7 : 6 }}" app-locale="app.amount.total.cny" class="text-right nowrap">人民币合计</td>
					<td ng-if="app.yes_no.yes == current.entity.expense.vatStatus" class="text-right nowrap" ng-bind="current.entity.amountCost | currency:current.entity.payee.currency.symbol"></td>
					<td ng-if="app.yes_no.yes == current.entity.expense.vatStatus" class="text-right nowrap" ng-bind="current.entity.amountTax | currency:current.entity.payee.currency.symbol"></td>
					<td class="text-right nowrap" ng-bind="current.entity.amount | currency"></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
</div>

<div class="row"><!-- 附件，流程等信息 -->
<div class="col-md-12">
	<div class="tabbable-custom" uib-tabset>
		<div uib-tab heading="{{ 'application.files' | appLocale }}">
			<div ng-include=" 'resources/template/application/edit/files.html' "></div>
		</div>
		<div uib-tab heading="{{ 'application.logs' | appLocale }}" ng-if="current.entity.status == STATUS.REJECTION || current.entity.status == STATUS.REJECTION_PAY">
			<div ng-include=" 'resources/template/application/logs.html' "></div>
		</div>
	</div>
</div>
</div>

<div class="row">
	<div class="col-md-12 text-center" app-print-action>
		<button type="button" class="btn btn-primary" app-locale="app.submit"
			ng-click="submit()"
			ng-disabled="editForm.$invalid || session.requesting"></button>
		<button type="button" class="btn btn-primary" app-locale="app.reset" 
			ng-disabled="session.requesting" ng-click="reset()"></button>
		<button type="button" class="btn btn-primary" app-locale="app.cancel" ng-click="cancel()"></button>
	</div>
</div>

	</div>
</div>

</div>
</form>