<div class="row">
	<div class="col-md-12" ng-include=" 'resources/template/application/contract/view/header.html' "></div>
</div>
<div class="row"><!-- 支付信息 -->
	<div class="col-md-12" ng-include=" 'resources/template/application/view/payee.html' "></div>
</div>

<div class="row">
<div class="col-md-12">
	<h4 class="form-section">
		<span app-locale="expense.vehicle.details">车辆费用明细</span>
	</h4>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-condensed" role="grid">
			<thead>
				<tr>
					<th app-locale="budget.subject">预算科目</th>
					<th app-locale="contract.unitPrice">单价</th>
					<th app-locale="contract.quantity">数量</th>
					<th width="80" app-locale="contract.money">金额</th>
					<th width="80" app-locale="contract.estimateAmount" ng-if="app.yes_no.yes == current.entity.propertyC00">预估金额</th><!-- 如果是框架合同，必须填写预估金额 -->
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in current.entity.items track by item.ordinal">
					<td app-show="item.budgetSubject.id" url="/budgetSubject.do"></td>
					<td ng-bind="item.amountCost | double"></td>
					<td ng-bind="item.propertyN00"></td>
					<td ng-bind="item.amount | double"></td>
					<td ng-if="app.yes_no.yes == current.entity.propertyC00"  ng-bind="item.propertyN50 | double"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="info">
					<td colspan="3" app-locale="app.amount.total" class="text-right nowrap">合计</td>
					<td class="nowrap" ng-bind="current.entity.payee.amountCost | currency:current.entity.payee.currency.symbol"></td>
					<td ng-if="app.yes_no.yes == current.entity.propertyC00" class="nowrap" ng-bind="current.entity.propertyN51 | currency:current.entity.payee.currency.symbol"></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
</div>


<div class="row"><!-- 附件，流程等信息 -->
<div class="col-md-12">
	<div class="tabbable-custom" uib-tabset>
		<div uib-tab heading="{{ 'application.files' | appLocale }}">
			<div ng-include=" 'resources/template/application/view/files.html' "></div>
		</div>
		<div uib-tab heading="{{ 'application.logs' | appLocale }}">
			<div ng-include=" 'resources/template/application/logs.html' "></div>
		</div>
		<div uib-tab heading="{{ 'application.approvers' | appLocale }}">
			<div ng-include=" 'resources/template/application/approvers.html' "></div>
		</div>
	</div>
</div>
</div>