
<div class="row">
	<div class="col-md-6">
		<label>每页</label>
				<select class="form-control input-xs input-sm input-inline" name="sample_2_length" aria-controls="sample_2">
					<option value="5">5</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="-1">All</option>
					</select>
		<label>条记录 , 总计 </label>
				<input class="form-control input-xs input-sm input-inline">
		<label>条</label>	
		<a herf="#"><label >导出Excel</label>
		</a>
	</div>
	<div class="col-md-6">
  			<ul class="pagination">
    			<li>
      				<a href="#" aria-label="Previous">
        				<span aria-hidden="true">&laquo;</span>
      				</a>
   				</li>
    			<li><a href="#">1</a></li>
    			<li><a href="#">2</a></li>
    			<li><a href="#">3</a></li>
    			<li><a href="#">4</a></li>
    			<li><a href="#">5</a></li>
    			<li><a href="#">...</a></li>
   				 <li>
      				<a href="#" aria-label="Next">
       					<span aria-hidden="true">&raquo;</span>
      				</a>
    			</li>
  		  </ul>
	</div>
</div>
