<div class="form-group">
	<!-- <label class="col-sm-2 control-label">类别</label> -->
	<div class="col-sm-6">
		<input type="text"  style="display:none;"  class="form-control" ng-model="current.entity.type" name="entityType" ng-trim="true" required maxlength="20">
	</div>
</div>
<div class="form-group">
	<!-- <label class="col-sm-2 control-label">加载方式</label> -->
	<div class="col-sm-6">
		<input class="form-control" style="display:none;"  ng-model="current.entity.loadType" name="entityLoadType" ng-trim="true" required maxlength="2">
	</div>
</div>
<div class="form-group">
	<!-- <label class="col-sm-2 control-label">用于排序的序号</label> -->
	<div class="col-sm-6">
		<input class="form-control" style="display:none;" ng-model="current.entity.ordinal" name="entityOrdinal" ng-trim="true" required maxlength="2">
	</div>
</div>
<!-- 认加载的隐藏部分  -->


<div class="form-group">
	<label class="col-sm-2 control-label">状态</label>
	<div class="col-sm-3" app-dict-radio="current.entity.status"  dict-type="status" inline="true"></div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">预支类型</label>
	<div class="col-sm-6" app-dict-select="current.entity.name"  dict-type="advanceType"  inline="true" ></div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">账龄</label>
	<div class="col-sm-6">
		<input type="number"  class="form-control" ng-model="current.entity.propertyN00" name="entityPropertyN00" ng-trim="true" required ng-maxlength="10">
	</div>
	<div class="col-sm-4">
	 <p class="form-control-static text-danger" ng-if="editForm.entityPropertyN00.$error.required">请输入账龄</p>
		<p class="form-control-static text-danger" ng-if="editForm.entityPropertyN00.$error.maxlength">不能超出10字</p> 
		<p class="form-control-static text-danger" ng-if="editForm.entityPropertyN00.$invalid">请输入正确账龄</p>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">控制逻辑</label>
	<div class="col-sm-10" app-dict-radio="current.entity.propertyC01"  dict-type="controlLogic"  inline="true"></div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">不适用的部门</label>
	<div class="col-sm-6">
		<div class="input-group input-group-sm dropdown" uib-dropdown is-open="queryDeptsSelector.isOpen" auto-close="outsideClick">					
						<ul class="ztree dropdown-menu dropdown-menu-default" role="menu" uib-dropdown-menu
							ztree="queryDeptsSelector" data-checked-model="queryDeptsSelector.depts"></ul>
						<input ng-model="queryDeptsSelector.checkedNames" class="form-control input-sm" readonly uib-dropdown-open  >
						<sapn class="input-group-btn btn-group-sm">
							<button type="button" class="btn btn-default" 
								ng-click="queryDeptsSelector.tree.clearChecked(); current.entity.checkedNames = '';"><i class="fa fa-remove"></i></button>
							<button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle aria-expanded="false">
								<span class="caret"></span><span class="sr-only"></span>
							</button>
						</sapn>
					</div>
	</div>
</div>

<div class="form-group">
	<div class="col-sm-6 col-sm-offset-2">
		<button type="submit" class="btn btn-primary" app-locale="app.save" ng-disabled="editForm.$invalid">保存</button>
		<button type="button" class="btn btn-primary" app-locale="app.cancel" ng-click="cancel()">取消</button>
	</div>
</div>