<!-- 修改角色信息 -->
<div class="form-body">
	<div class="form-group">
		<label class="col-sm-2 control-label" app-locale="system.role.code">角色代码</label>
		<div class="col-sm-6">
			<input class="form-control" ng-model="current.entity.id" name="entityCode" ng-trim="true" required ng-maxlength="50">
		</div>
		<div class="col-sm-4">
			<p class="form-control-static text-danger" ng-if="editForm.entityCode.$error.required" app-locale="app.validate.required">请输入角色代码</p>
			<p class="form-control-static text-danger" ng-if="editForm.entityCode.$error.maxlength" app-locale="app.validate.maxlength" app-locale-args="50">不能超出50字节</p>
			<p class="form-control-static text-danger" ng-if="editForm.entityCode.$valid && !validateSave(current.entity)"
				app-locale-bind="app.validate.exists" app-locale-args="[ getText('system.role.code'), current.entity.id ]" ></p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" app-locale="system.role.name">角色名称</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="current.entity.name" name="entityName" 
				ng-trim="true" required ng-maxlength="100">
		</div>
		<div class="col-sm-4">
			<p class="form-control-static text-danger" ng-if="editForm.entityName.$error.required" app-locale="app.validate.required">请输入角色名称</p>
			<p class="form-control-static text-danger" ng-if="editForm.entityName.$error.maxlength" app-locale="app.validate.maxlength" app-locale-args="100">不能超出100字节</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" app-locale="app.status">状态</label>
		<div class="col-sm-6" app-dict-radio="current.entity.status" dict-type="status" inline="true"></div>
		<!-- <div app-dict="'1'" dict-type="status">显示status</div> -->
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" app-locale="system.role.permission">权限</label>
		<div class="col-sm-10">
			<ul ztree="menusTree" data-nodes="menus"></ul>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-6 col-sm-offset-2">
			<button type="submit" class="btn btn-primary"
				ng-disabled="editForm.$invalid || !validateSave(current.entity)"
				app-permission="edit" app-locale="app.save">保存</button>
			<!-- <button type="button" class="btn btn-primary" app-locale="app.cancel" ng-click="cancel()">取消</button> -->
		</div>
	</div>
</div>