
<form name="queryForm" method="post" ng-submit="query()" class="form-horizontal"  >
<div class="portlet light bordered query-container">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-list"></i> 
			<span class="caption-subject font-dark sbold uppercase bold" app-locale="setting.vehicleExpenseType.list">车辆费用类别查询列表</span>
			<span class="caption-helper"></span>
		</div>
		<div class="actions">
			<button type="button" class="btn btn-circle btn-icon-only btn-default"
				title="{{ (!hideQueryParams ? 'app.query.hide' : 'app.query.show')  | appLocale }}" 
				ng-click="hideQueryParams = !hideQueryParams">
				<i class="fa" 
					ng-class="{ 'fa-angle-down' : !hideQueryParams, 'fa-angle-up': hideQueryParams }"></i>
			</button>
			<!-- <button type="submit" class="btn btn-circle btn-icon-only btn-default"
				title="{{ 'app.query' | appLocale }}"  
				ng-disabled="queryForm.$invalid"
				app-permission="query" ng-click="query()" >
				<i class="fa fa-search"></i>
			</button> -->
			<button type="button" title="{{ 'app.add' | appLocale }}" class="btn btn-circle btn-icon-only btn-primary"
				app-permission="edit" ng-click="add()">
				<i class="fa fa-plus"></i>
			</button>
			<button type="button" title="{{ 'app.delete' | appLocale }}" class="btn btn-circle btn-icon-only btn-default"
				app-permission="edit" ng-disabled="!checkedUsers || !checkedUsers.length <= 0" ng-click="remove(checkedUsers)">
				<i class="fa fa-trash-o"></i>
			</button>
		</div>
	</div>
	
	<div class="portlet-body form">
		<div class="form-body" ng-show="!hideQueryParams">
			<div class="form-group">	
			 <div class="col-sm-11">			
				<label class="col-sm-1 control-label" app-Locale="setting.vehicleExpenseType.ExpenseType">费用类别</label>
				<div class="col-sm-5">
					<input ng-model="current.params.code" class="form-control" ng-trim="true">
				</div>
				
				
				<label class="col-sm-1 control-label" app-Locale="setting.vehicleExpenseType.companyVehicle">公司车辆科目</label>
				<div class="col-sm-5" app-ui-select="current.params.name" url="/budgetSubject.do" ></div>
			 </div>
				<div class="col-sm-1">
					<button type="submit" class="btn btn-default btn-sm btn-outline btn btn-primary table-group-action-submit"
					ng-disabled="queryForm.$invalid"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</div>
		
		<!-- 参数列表表格 -->
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-condensed" role="grid" 
				st-table="dictionarys" st-safe-src="current.page.content">
				<thead>
					<tr>
						<!-- <th width="30" ui-table-select-all="dictionarys"></th> -->
						<th st-sort="dictionary.code" app-locale="setting.vehicleExpenseType.ExpenseType">费用类别</th>
						<th st-sort="dictionary.propertyC00" app-locale="setting.vehicleExpenseType.companyVehicle">公司车辆科目</th>
						<th st-sort="dictionary.propertyC01" app-locale="setting.vehicleExpenseType.rentVehicle">租用车辆科目</th>
						<th st-sort="dictionary.propertyC02" app-locale="setting.vehicleExpenseType.privateVehicle">私人车辆科目</th>
						<th st-sort="dictionary.remarks" app-locale="setting.vehicleExpenseType.remark">备注</th>
						<th width="30" class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dictionary in dictionarys">
					<!-- 	<td ui-table-select="dictionary" selected-rows="current.selected"></td> -->
						<td><a href="javascript:;" ng-bind="::dictionary.name" ng-click="view(dictionary)"></a></td>
						<td  app-show="::dictionary.propertyC00" url="/budgetSubject.do"></td>
						<td  app-show="::dictionary.propertyC01" url="/budgetSubject.do"></td>
						<td  app-show="::dictionary.propertyC02" url="/budgetSubject.do"></td>
						<td ng-bind="::dictionary.remarks">备注</td>
						<td class="text-center"><a href="javascript:;" title="{{ 'app.edit' | appLocale }}" ng-click="edit(dictionary)"><i class="fa fa-edit"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- 显示分页 -->
		<div app-page></div>
	</div>
</div>
</form>