<h6 class="page-title">车辆费用</h6>
<div class="form-group">
	<label class="control-label col-md-1">申请号</label>
	<div class="col-md-3">
		<input class="form-control" id="mask_number" type="text" />
	</div>

	<label class="control-label col-md-1">申请部门</label>
	<div class="col-md-1">
		<input class="form-control" type="text" />
	</div>
	<div class="col-md-2">
		<input class="form-control" type="text" />
	</div>

	<label class="control-label col-md-1">申请人</label>
	<div class="col-md-1">
		<input class="form-control" type="text" />
	</div>
	<div class="col-md-2">
		<input class="form-control" type="text" />
	</div>
</div>