
<form name="queryForm" method="post" ng-submit="query()" class="form-horizontal"  >
<div class="portlet light bordered query-container">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-list"></i> 
			<span class="caption-subject font-dark sbold uppercase bold" app-locale="setting.accounting.list">会计科目设置列表</span>
			<span class="caption-helper"></span>
		</div>
		<div class="actions">
			<button type="button" class="btn btn-circle btn-icon-only btn-default"
				title="{{ (!hideQueryParams ? 'app.query.hide' : 'app.query.show')  | appLocale }}" 
				ng-click="hideQueryParams = !hideQueryParams">
				<i class="fa" 
					ng-class="{ 'fa-angle-down' : !hideQueryParams, 'fa-angle-up': hideQueryParams }"></i>
			</button>
			<!-- <button type="submit" class="btn btn-circle btn-icon-only btn-default"
				title="{{ 'app.query' | appLocale }}"  
				ng-disabled="queryForm.$invalid"
				app-permission="query" ng-click="query()" >
				<i class="fa fa-search"></i>
			</button> -->
			<!-- <button type="button" title="{{ 'app.add' | appLocale }}" class="btn btn-circle btn-icon-only btn-primary"
				app-permission="edit" ng-click="add()">
				<i class="fa fa-plus"></i>
			</button> -->
			<!-- <button type="button" title="{{ 'app.delete' | appLocale }}" class="btn btn-circle btn-icon-only btn-default"
				app-permission="edit" ng-disabled="!checkedUsers || !checkedUsers.length <= 0" ng-click="remove(checkedUsers)">
				<i class="fa fa-trash-o"></i>
			</button> -->
		</div>
	</div>
	
	<div class="portlet-body form">
		<div  ng-include="'setting/nomal/queryHeader.html'" ></div>
		
		<!-- 参数列表表格 -->
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-condensed" role="grid" 
				st-table="dictionarys" st-safe-src="current.page.content">
				<thead>
					<tr>
						<!-- <th width="30" ui-table-select-all="dictionarys"></th> -->
						<th st-sort="accounting.info" app-locale="setting.accounting.code">会计科目代码</th>
						<th st-sort="accounting.info" app-locale="setting.accounting.info">会计科目信息</th>
						<th st-sort="accounting.money" app-locale="setting.accounting.money">会计复核金额</th> 
						<th st-sort="accounting.money" app-locale="setting.accounting.cashFlow">现金流</th> 
						<th st-sort="accounting.review" app-locale="setting.accounting.review">是否会计复核</th>
						<th width="30" class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="dictionary in dictionarys">
					<!-- 	<td ui-table-select="dictionary" selected-rows="current.selected"></td> -->
						<td><a href="javascript:;" ng-bind="::dictionary.code" ng-click="view(dictionary)"></a></td>
						<td ng-bind="::dictionary.name">会计科目信息</td>
						<td ng-bind="::dictionary.reviewAmount">会计复核金额</td>
						<td ng-bind="::dictionary.cashFlow">现金流</td>
						<td ng-bind="::(dictionary.reviewAmount > 0? 'Y' : 'N')">是否会计复核</td>
						<td class="text-center"><a href="javascript:;" title="{{ 'app.edit' | appLocale }}" ng-click="edit(dictionary)"><i class="fa fa-edit"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- 显示分页 -->
		<div app-page></div>
	</div>
</div>
</form>